{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <script src="{% static 'assets/js/script.js' %}"></script>
</head>
<body>
    <div class="logo">
    <img src="{% static 'assets/images/Group 34.png' %}" alt="Logo">
    </div>

    <!--Login forms-->
    <div class="login">
        <h2 class="loginTitle">login</h2>
        <form method="POST" action="">
            {% csrf_token %}
            <input type="text" name="username" placeholder="username..." required>
            <input type="password" name="password" placeholder="password..." required>
            <button type="submit">Login</button>
        </form>
        <div class="form-links">
            <a href="#">Forgot password or email</a>
            <a href="{% url 'signup' %}">Havent signed up?</a>
        </div>
    </div>
</body>
</html>
